<div class="all-done-container">
  <!-- <nb-icon class="all-done-icon" icon="checkmark-circle-2-outline"></nb-icon> -->
  <img
    class="all-done-icon"
    src="/assets/images/icons/correct-icon.png"
    alt=""
    srcset=""
    style="margin-bottom: 40px"
  />
  <p class="all-done-text">All done</p>
  <p class="all-done-description">
    We will review your application and get back to you shortly
  </p>
  <!-- <button
    nbButton
    status="primary"
    class="btn-next"
    type="submit"
    style="display: grid; width: 100%; justify-content: center"
    (click)="_onSubmit()"
  >
    Back to menu
  </button> -->
</div>
<div class="footer">
  <div class="footer-content">
    <button
      nbButton
      status="primary"
      class="btn-next"
      type="submit"
      style="display: grid; width: 100%; justify-content: center"
      (click)="_onSubmit()"
    >
      Back to menu
    </button>
  </div>
</div>
