.account-selection {
  display: flex;
  justify-content: center;
  margin-top: 25px;
}
.roles {
  background-color: lightgrey;
  width: 250px;
  margin-right: 10%;
  padding: 10px;
}
.main {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  .main-data {
    padding: 10px;
  }
}
.center {
  text-align: center;
}
.text-small {
  font-size: 12px;
  font-weight: 100;
}
// .nb-theme-default nb-layout-header nav {
//   box-shadow: 0 0.5rem 1rem 0 rgba(44, 51, 73, 0);
// }

//////
///

.card {
  height: auto;
  width: 100%;
  position: relative;
  background-color: #f9fafb;
}
input[type="radio"] {
  -webkit-appearance: none;
  appearance: none;
  height: 100%;
  width: 100%;
  border-radius: 10px;
  position: absolute;
  box-shadow: 7px 7px 15px rgba(2, 28, 53, 0.08);
  cursor: pointer;
  outline: none;
  border: 0 !important;
  box-shadow: none;
  background-color: #f9fafb !important;
}
input[type="radio"]:before {
  content: "";
  position: absolute;
  height: 16px;
  width: 16px;
  background-color: #ffffff;
  border: 1px solid #b5b5b5;
  border-radius: 50%;
  top: 20px;
  right: 20px;
}
input[type="radio"]:checked::before {
  border: 0 !important;
}
input[type="radio"]:checked:after {
  content: "";
  position: absolute;
  right: 30.5px;
  top: 27px;
  background: #e6f5f0;
  width: 1.5px;
  height: 1.5px;
  box-shadow: 1px 0 0 #e6f5f0, 3px 0 0 #e6f5f0, 3px -1px 0 #e6f5f0,
    3px -3px 0 #e6f5f0, 3px -5px 0 #e6f5f0, 3px -7px 0 #e6f5f0;
  transform: rotate(45deg);
}
label {
  position: relative;
  margin-top: 20px;
  margin-bottom: 0;
  width: calc(100% - 40px);
  // left: 50%;
  // transform: translateX(-50%);
  cursor: pointer;
}
h5 {
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 0.5px;
  margin: 15px 0 20px 0;
  font-family: 'SourceSansPro';
}
h2 {
  font-size: 28px;
  font-family: 'SourceSansPro';
}
.company-account-details {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  padding-top: 20px;
  padding-bottom: 30px;
  height: 100%;
  @media only screen and (max-width: 991px) {
    padding: 16px !important;
  }
}
.company-details {
  padding: 0px 20px;
  span.company-name {
    font-weight: 600;
    font-size: 16.57px;
    line-height: 19.88px;
    margin: 20px 0 7px;
    color: #101828;
    font-family: "Lato", sans-serif;
    width: 100%;
    display: inline-block;
    text-align: center;
    @media only screen and (max-width: 991px) {
      text-align: left;
      margin-top: 0;
    }
  }
  span {
    font-weight: 400;
    font-size: 13.26px;
    line-height: 19.88px;
    color: #667085;
    text-align: center;
    font-family: "Lato", sans-serif;
    width: 100%;
    display: inline-block;
    @media only screen and (max-width: 991px) {
      text-align: left;
    }
  }
}
// input[type="radio"]:hover {
//   transform: scale(1.05);
// }
input[type="radio"]:checked {
  background: linear-gradient(0deg, #e6f4ff, #e6f4ff),
    linear-gradient(0deg, #0090ff, #0090ff);
  border: 1px solid #0090ff !important;
}
input[type="radio"]:checked:before {
  background-color: #37ab87;
}
// input[type="radio"]:checked:after {
//   background-color: #fff;
// }

.btn-next {
  width: 300px;
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  font-family: 'SourceSansPro';
}

.form-content {
  width: 100%;
  display: flex;
  margin-left: auto;
  flex-direction: column;
  form {
    width: 540px;
    margin: 0 auto;
    display: block;
    @media only screen and (max-width: 767px) {
      width: 100%;
    }
  }
}
