<div class="workflow-wrapper">
  <div class="sidebar-content">
    <app-sidebar [showOnlyLogout]="true"></app-sidebar>
  </div>
  <div class="content-right">
    <app-sidebar-application></app-sidebar-application>
  </div>
</div>
<div class="sidebar-logout">
  <app-sidebar />
</div>

<ng-template #dialog let-data let-ref="dialogRef">
  <nb-card class="dialog-card">
    <!-- <nb-card-header>Template Dialog</nb-card-header> -->

    <div class="dialog-card-heading">
      <h3>Contact our onbarding team</h3>
      <h6>Open your inbox to send an email to our team.</h6>
    </div>
    <div class="dialog-card-buttons">
      <button
        nbButton
        (click)="ConfirmDialog()"
        status="primary"
        class="btn-confirm"
      >
        Contact
      </button>
      <button nbButton (click)="ref.close()" class="btn-cancel">Go back</button>
      <!-- <nb-card-footer>
    </nb-card-footer> -->
    </div>
  </nb-card>
</ng-template>
