<div class="main-container">
  <app-title-header
    title="Account holder company role"
    subTitle="Please select your role in the company"
    subtitle_style="color: rgb(102, 112, 133); font-size: 16px; font-weight: 400; line-height: 24px;"
    title_style="color: #101828; font-size: 38px; font-weight: 700; line-height: 47.77px; margin-bottom: 12px;"
    path="/persons-of-control"
  ></app-title-header>

  <!-- path="/account-verification/country-registration" -->
  <div
    class="create-account-content account-additional-information account-holder-company-role-details"
    style="
      display: flex;
      justify-content: center;
      margin-top: 40px;
      margin-left: auto;
      margin-bottom: 40px;
    "
  >
    <form
      [formGroup]="accountHolderCompanyRoleForm"
      (ngSubmit)="next()"
      style="width: 540px"
    >
      <span class="form-control-label">Select all that apply</span>
      <!-- class="moneycountrySelect" -->
      <ng-select
        #countrySelect
        [items]="company_role"
        [multiple]="true"
        [searchable]="false"
        bindLabel="role"
        (change)="onChange($event)"
        bindValue="role"
        formControlName="company_role"
        [ngStyle]="{
          'margin-bottom':
            accountHolderCompanyRoleForm
              .get('company_role')
              ?.hasError('required') &&
            (accountHolderCompanyRoleForm.get('company_role')?.touched ||
              accountHolderCompanyRoleForm.get('company_role')?.dirty)
              ? '0px'
              : '40px'
        }"
      >
        <!-- <ng-template ng-header-tmp>
          <div class="search-field" style="margin-bottom: 0px">
            <img
              src="/assets/images/icons/search-icon.png"
              alt=""
              class="serach-img"
            />
            <input
              class="search-input"
              type="text"
              (input)="countrySelect.filter(input.value)"
              #input
              placeholder="Search"
              style="width: 100%; line-height: 24px"
            />
          </div>
        </ng-template> -->
        <ng-template ng-label-tmp let-item="item" let-clear="clear">
          <span class="ng-value-label"> {{ item.role }}</span>
          <nb-icon
            nbSuffix
            icon="close-circle"
            class="ng-value-icon"
            (click)="clear(item); Checked(item, 'company_role')"
            aria-hidden="true"
          ></nb-icon>
        </ng-template>
        <ng-template
          ng-option-tmp
          let-item="item"
          let-index="index"
          (click)="!this.isDisabled(item) ? Checked(item, 'company_role') : ''"
        >
          <div class="ng-option-item">
            <label
              class="ng-option-label"
              for="{{ index }}"
              [ngStyle]="{
                'pointer-events': !this.isDisabled(item) ? 'none' : 'auto'
              }"
            >
              <div class="ng-option-text">
                <span>{{ item.role }}</span>
              </div>
            </label>
            <div class="option-checkbox">
              <input
                id="{{ index }}"
                type="checkbox"
                [checked]="CheckItems(item, 'company_role')"
                disabled="true"
                name="checkbox"
              />
              <span class="checkmark"></span>
            </div>
          </div>
        </ng-template>
      </ng-select>
      <div
        *ngIf="
          accountHolderCompanyRoleForm
            .get('company_role')
            ?.hasError('required') &&
          accountHolderCompanyRoleForm.get('company_role')?.touched
        "
        class="error-message"
        style="margin-bottom: 20px"
      >
        Country is required.
      </div>
      <div class="company_role-select-field" *ngIf="isDirectorsList">
        <div class="heading">Select director</div>
        <div class="company_role-person-group">
          <div
            class="company_role-persons"
            *ngFor="let item of common_directorsList; let index = index"
          >
            <div *ngIf="item.firstName && item.lastName">
              <input
                type="radio"
                name="directors"
                id="director-{{ index }}"
                [checked]="item?.checked"
                (click)="selectItem(item, 'Directors')"
              />

              <label
                *ngIf="item.firstName && item.lastName"
                for="director-{{ index }}"
              >
                <div class="profile-detail">
                  <div class="profile">
                    <img *ngIf="item.profilePic" [src]="item.profilePic" />
                    <span>{{
                      item.altProfileText ? item.altProfileText : "JD"
                    }}</span>
                  </div>
                  <div>{{ item.firstName + " " + item.lastName }}</div>
                </div>
              </label>
            </div>
          </div>
        </div>
      </div>
      <div class="company_role-select-field" *ngIf="isShareholderList">
        <div class="heading">Select Shareholder</div>
        <div class="company_role-person-group">
          <div
            class="company_role-persons"
            *ngFor="let item of common_shareholderList; let index = index"
          >
            <div *ngIf="item.firstName && item.lastName">
              <input
                type="radio"
                name="shareholder"
                id="shareholder-{{ index }}"
                [checked]="item?.checked"
                (click)="selectItem(item, 'Shareholders')"
              />
            </div>
            <label
              *ngIf="item.firstName && item.lastName"
              for="shareholder-{{ index }}"
            >
              <div class="profile-detail">
                <div class="profile">
                  <img *ngIf="item.profilePic" [src]="item.profilePic" />
                  <span>{{
                    item.altProfileText ? item.altProfileText : "JD"
                  }}</span>
                </div>
                <div>{{ item.firstName + " " + item.lastName }}</div>
              </div>
            </label>
          </div>
        </div>
      </div>
      <div class="company_role-select-field" *ngIf="isAuthorizedSignatoryList">
        <div class="heading">Select Authorized Signatory</div>
        <div class="company_role-person-group">
          <div
            class="company_role-persons"
            *ngFor="let item of authorizedSignatoryList; let index = index"
          >
            <div *ngIf="item.firstName && item.lastName">
              <input
                type="radio"
                name="authorized_signatory"
                id="authorized-signatory-{{ index }}"
                (click)="selectItem(item, 'Authorized Signatory')"
              />
            </div>
            <label
              *ngIf="item.firstName && item.lastName"
              for="authorized-signatory-{{ index }}"
            >
              <div class="profile-detail">
                <div class="profile">
                  <img *ngIf="item.profilePic" [src]="item.profilePic" />
                  <span>{{
                    item.altProfileText ? item.altProfileText : "JD"
                  }}</span>
                </div>
                <div>{{ item.firstName + " " + item.lastName }}</div>
              </div>
            </label>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="footer">
  <div class="footer-content">
    <button
      nbButton
      status="primary"
      class="btn-next"
      type="submit"
      style="display: grid; width: 100%; justify-content: center"
      (click)="next()"
      [disabled]="disabledNextBtn()"
    >
      Next
    </button>
  </div>
</div>
