.selected-option {
  display: flex;
  align-items: center;
}

.selected-option i {
  margin-left: 8px; /* Adjust the spacing between the text and the icon as needed */
}
span {
  font-family: 'SourceSansPro';
}

////Search Field with Icon
.search-field {
  position: relative;
  margin-bottom: 15px;
}
.serach-img {
  position: absolute;
  right: 0px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
  line-height: 40px;
  cursor: pointer;
  z-index: 1;
  color: #03045fc7;
  left: 7px;
  width: 20px;
  height: 20px;
}

.search-input {
  border-radius: 2px;
  border: 1px solid #ccc;
  height: 50px;
  padding: 5px;
  width: 420px;
  padding-left: 30px !important;
}
